spring:
  application:
    name: bbzz
  datasource:
    url: ${PG_URL}
    username: ${PG_USER}
    password: ${PG_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  cache:
    type: redis
    redis:
      time-to-live: 60m
  jpa:
    hibernate:
#      ddl-auto: update
      ddl-auto: validate
    show-sql: true       # SQL 로그 확인
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 50
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB